{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}

  <br />
    <h2 align="center">Add a Pet</h2>
    <br />
  <form method="POST">
    <div class="form-group">
      <label for="name">Your Pet's Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your pet's name"
      />
    </div>
    <div class="form-group">
      <label for="species">Pet Species:</label>
      <label for="R1"> Dog</LABEL>
      <input type="radio" name="species" id="R1" value="Dog" checked>
      <label for="R2"> Cat</LABEL>
      <input type="radio" name="species" id="R2" value="Cat">
    </div>
    <div class="form-group">
      <label for="breed">Pet Breed:</label>
      <input
        type="text"
        class="form-control"
        id="breed"
        name="breed"
        placeholder="Enter your pet's breed"
      />
    </div>
    <div class="form-group">
      <label for="petage">Pet Age:</label>
      <input
        type="text"
        class="form-control"
        id="age"
        name="age"
        placeholder="Enter your pet's age"
      />
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary">Add your Pet</button>
    </div>
  </form>

  <br /><br />
  <h1 align="center">Your Pets</h1>
  <ul class="list-group list-group-flush" id="pets">
    {% for pet in user.pets %}
    <li class="list-group-item">
      {{ pet.name }} - {{ pet.species }} - {{ pet.breed }} - {{ pet.age }}
      <button type="button" class="close" onClick="deletePet({{ pet.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  {% endblock %}
  