{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<br />
<h1 align="center">Your Pets</h1>
<ul class="list-group list-group-flush" id="pets">
  {% for pet in current_user.pets %}
  <li class="list-group-item">
    <div class="row"; width=min-content>
      <div class="col-md-6">
        <h4>{{ pet.name }}</h4>
        <p>Species: {{ pet.species }} <br> Breed: {{ pet.breed }} <br> Age: {{ pet.age }}</p> 
        <button><a class="btn-primary" href="/edit-pet/{{ pet.id }}">Edit</a></button>
        <button><a class="btn-danger" href="/delete-pet/{{ pet.id }}">Delete</a></button>

      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}