{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <a href="{{ url_for('views.delete_note', id=note.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>

  <h1 align="center">Pets</h1> 
  <ul class="list-group list-group-flush" id="pets">
    {% for pet in user.pets %}
    <li class="list-group-item">
      {{ pet.data }}
      <a href="{{ url_for('views.delete_pet', id=pet.id) }}" class="btn btn-danger btn-sm float-right">Delete</a>
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  <form method="POST">
    <textarea name="pet" id="pet" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Pet</button>
    </div>

  </form>

  {% endblock %}

